<launch>


    <!-- start the robot -->
    <include file="$(find kinova_bringup)/launch/kinova_robot.launch" >
    </include>
    <include file="$(find j2n6s300_moveit_config)/launch/j2n6s300_demo.launch">
    </include>

    <!-- start the Realsense -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" >
    </include>

    <!-- start ArUco -->
    <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch" >
    </include>

    

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/calibrate.launch" >
        <arg name="eye_on_hand" value="true" />

        <arg name="tracking_base_frame" value="camera_color_optical_frame" />
        <arg name="tracking_marker_frame" value="ar_marker_5" />
        <arg name="robot_base_frame" value="j2n6s300_link_base" />
        <arg name="robot_effector_frame" value="j2n6s300_end_effector" />

        <arg name="freehand_robot_movement" value="false" />
        <arg name="robot_velocity_scaling" value="0.5" />
        <arg name="robot_acceleration_scaling" value="0.2" />
    </include>

</launch>